@import url('https://fonts.googleapis.com/css2?family=Phudu&display=swap');

* {
  box-sizing: border-box; 
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button {
  font-family: 'Phudu', cursive;
  padding: 10px;
}

.column {
  aspect-ratio: 1;
  border: 1px solid #000;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 960px;
}

.row {
  display: flex;
  gap: 5px;
}

.row div {
  flex: 1;
}