* {
  box-sizing: border-box; 
}

.column {
  aspect-ratio: 1;
  border: 1px solid #000;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 960px;
}

.row {
  display: flex;
  gap: 5px;
}

.row div {
  flex: 1;
}